

.container
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Articles', main_app.articles_user_home_path()
				%li
					= @article.title
		.col-xs-2
			%a.btn.btn-primary{ href: main_app.preview_user_article_path( @article.id ), target: '_new' }
				%i.fa.fa-eye
				Preview

	=# form_for @article do |f|
	= form_for @article, url: main_app.user_article_path( @article ) do |f|

		.row
			.col-xs-8
				.form-group
					= f.label :title
					= f.text_field :title, class: 'form-control input-lg'
				-# .row
					.col-xs-4
						.form-group
							= f.label :avatar, 'Image (default):'
							= image_tag @article.avatar, class: 'img-responsive', id: 'article_avatar_img'
							%div{ style: 'text-align:center;padding:0.3em;' }
								%a{ href: '#', data: { toggle: :assetup, for: '#article_avatar,#article_avatar_img', asset: { asset_type: 'image', use: 'avatar', status: 'active', parent_obj_id: @article.id, parent_obj_type: @article.class.base_class.name }.to_json, params: { authenticity_token: form_authenticity_token() }.to_json } }
									%i.fa.fa-upload
									upload
							= f.hidden_field :avatar, class: 'form-control', id: 'article_avatar'
							-# = text_field_tag :avatar_text_field, '', class: 'form-control', placeholder: 'Full Path to Image', data: { inputfor: '#article_avatar_asset_url' }
					.col-xs-4
						.form-group
							= f.label :cover_path, 'Image (cover):'
							= image_tag @article.cover_path, class: 'img-responsive', id: 'article_cover_path_img'
							%div{ style: 'text-align:center;padding:0.3em;' }
								%a{ href: '#', data: { toggle: :assetup, for: '#article_cover_path, #article_cover_path_img', asset: { asset_type: 'image', use: 'avatar', status: 'active', parent_obj_id: @article.id, parent_obj_type: @article.class.base_class.name }.to_json, params: { authenticity_token: form_authenticity_token() }.to_json } }
									%i.fa.fa-upload
									upload
							= f.hidden_field :cover_path, class: 'form-control', id: 'article_cover_path'
							-# = text_field_tag :avatar_text_field, '', class: 'form-control', placeholder: 'Full Path to Image', data: { inputfor: '#article_avatar_asset_url' }

				.form-group
					= f.label :description, 'Summary'
					= f.text_area :description, class: 'form-control'

				.form-group
					= f.label :description, 'Content'
					= f.text_area :content, class: 'form-control wysiwyg', data: { wysiwyg: { height_min: 200, toolbar_sticky: true, toolbar_preset: 'admin_default', asset_manager: swell_media.assets_path( asset: { parent_obj_type: @article.class.name, parent_obj_id: @article.id }, request_forgery_protection_token.to_s => form_authenticity_token, response: :json ) }.to_json }


			.col-xs-4
				.well
					-#.form-group
						= f.label :user_id, 'Author'
						= f.collection_select :user_id, SwellMedia.registered_user_class.constantize.where( "role > 1" ), :id, :name, {}, class: 'form-control'
					-# .form-group
						= f.label :publish_at
						= f.text_field :publish_at, value: @article.publish_at.to_s( :full_time ), class: 'form-control datepicker'
					-# .form-group
						= f.label :category_id
						= f.collection_select :category_id, SwellMedia::Category.active.order( :name ), :id, :name, { include_blank: '-- None -- ' }, class: 'form-control'
					.form-group
						= f.label :status, 'Status:'
						- if @article.active?
							Published
						- else
							= @article.status.capitalize
					-# .form-group
						= f.label :status
						= f.collection_select :status, SwellMedia::Article.statuses, :first, :first, {}, class: 'form-control'
					.form-group
						= f.label :tags_csv, 'Tags:'
						= f.text_field :tags_csv, placeholder: 'Separate tags with commas', class: 'form-control'
					.form-group
						= f.submit 'Save Changes', class: 'btn btn-primary'
						- if @article.draft?
							= f.submit 'Publish', class: 'btn btn-default'
						- else
							%a.btn.btn-default{ href: @article.url } View